@media (max-width: 1680px) {

    body {
        overflow-x: hidden;
    }


    header nav ul#menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 50rem;
        margin-left: 33rem;
        margin-top: 38px;
    }

    /* h1 titulo "Olá eu sou Moisés Barsoti" */

     section#inicio h1 {
        position: absolute;
        margin-top: 20rem;
        margin-left: -50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 50px;
    } 

    /* p texto abaiho do h1  */

    section#inicio p {
        position: absolute;
        margin-top: 25rem;
        margin-left: -50rem;
        font-size: 17.5px;
    }

    /* Ícones/ Links de opções para contato */

    section#inicio ul#icones {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 200px;    
        height: 300px;
        margin-top: 31rem;
        margin-left: -52rem;
}       


    /* Section Sobre Mim */

    section#sobreMim #fotoMoises2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -64rem;
        position: absolute;
        margin-top: 15rem;
    }

    ul#titulosDeSobreMim {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: top;
        flex-direction: row;
        width: 100%;
        height: 400px;
        padding-top: 20px;
        margin-left: -52.3rem;
        margin-top: 34.5rem;
        font-weight: bold;
        font-size: 30px;
        color: #0eb;
        box-shadow: 0 0 25px #0eb;
        transition: 1s;
    }


    /* Section de Especialidades */

    section#especialidades ul#tituloDasSkils {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-top: 16rem;
        margin-left: -4rem;
        font-size: 45px;
        width: 60rem;
        color: #0eb;
    }
}


/* max-width: 1600 e max-heigth: 900 */

@media  (max-height: 900px) {
    /* h1 titulo "Olá eu sou Moisés Barsoti" */

    section#inicio h1 {
        position: absolute;
        margin-top: 20rem;
        margin-left: -46rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 50px;
    } 

    /* p texto abaiho do h1  */

    section#inicio p {
        position: absolute;
        margin-top: 25rem;
        margin-left: -46rem;
        font-size: 17.5px;
    }
}